#bodymap {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
#bodymap .container {
    display: flex;
    gap: 20px;
} 
.view {
    position: relative;
    width: 600px;
    height: 1280px;
}
#bodymap img {
    display: block;
    top: 0;
    left: 0;
    position: absolute;
}
#bodymap canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 1280px;
    pointer-events: none;
    z-index: 2;
    display: block;
}
map area {
    cursor: pointer;
}
