:root {
    --a: #d8f3dc;
    --b: #b7e4c7;
    --c: #95d5b2;
    --d: #74c69d;
    --s: #52b788;
    --f: #40916c;
    --base-color: #2d6a4f;  
    --h: #1b4332;
    --text-color: #FFFFFF;
    --i: #081c15;
}
.link{
    text-decoration: none;
    color: white;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
body {
    background-color: var(--base-color);
    color: var(--text-color);
}

#pros-list svg{
    height:  120px;
    width: auto;
}

#reviews { 
    background-color: var(--f);
}

#faq {
    width: 40rem;
    margin: 0;
}

#hero {
    background-image: url(../img/man-1282232_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--base-color);
    opacity: 0.25;
    z-index: 0;
}

#hero-text {
    left: 10%;  
}

.index_box{
    position: absolute;
    bottom: 20%;         /* távolság a kép aljától */
    left: 10%;   
    max-width: 60rem;
    color: white;
}

.index_box h1{
    font-size: 2.3rem;
}

.index_box p{
    font-size: 1.3rem;
}

.index_box p:nth-child(2){
    width: 40rem;
}

.index_box button {
    position: relative;;
    cursor: pointer;
    overflow: hidden;
    width: 10rem;
    height: 4em;
    border: 2px solid var(--base-color);
    border-radius: 10px;
    background-color: var(--text-color);
    color: var(--base-color);
    transition: color 0.5s ease;
    z-index: 1; 
}

.index_box button:hover {
    color: white;
    background: var(--base-color);
}

.hidden {
    display: none !important;
}

.calorie-bg {
    background-color: var(--f);
}

.progress-container {
    position: relative;
    width: 400px;
} 

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-close {
    filter: invert(100%); 
}

.progress-circle {
    width: 410px;
    height: 410px;
    border-radius: 50%;
    background: conic-gradient(var(--b) 0deg, #ddd 0deg);
}

.progress-text {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    white-space: pre-line;

}

.progress-calorie {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background-color: var(--h);
}

.testalkat {
    width: 95%;
    margin: 5px;
    border-radius: 10px;
    border: 0
}

.testalkatin:checked + .testalkat {
    border: 3px solid var(--c);
}

.step { 
    display: none;
}

.step.active { 
    display: flex;
    justify-content: center;
}


.error {
    height: 25px;
    padding: 0;
    margin: 0;
    color: red;
}


.steps, .water {
    background-color: var(--f);
    width: 48%;
}

.workout-bg {
    background-color: var(--f) !important;
}

#waterbar {
    width: 30px !important;
    height: 150px !important;
}

#arrow {
    cursor: pointer;
    pointer-events: all; 
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 20px;
}
  
/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(65, 29, 131);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
    border-radius: 30px;
}
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
    transform: scale(1.2);
}
/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
    transform: scale(1.2);
}
/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
    transform: scale(1.2);
}
  /* Whatsapp*/
.containerFour:hover {
    background-color: #128c7e;
    transition-duration: 0.3s;
    transform: scale(1.2);
}
  
.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}
  
.socialSvg {
    width: 17px;
}
  
.socialSvg path {
    fill: rgb(255, 255, 255);
}
  
.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}
  
@keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
  
/*footer*/
#footer-content{
      padding: 0 8rem;
}
#footer-oszlop3{
      padding: 0 0 0 3rem;
}
.footer-emailbox{
      display: flex;
      align-items: center;
}
    
.footer-emailmezo {
      min-height: 35px;
      max-width: 150px;
      padding: 0 1rem;
      color: #fff;
      font-size: 15px;
      border: 1px solid #fff;
      border-radius: 6px 0 0 6px;
      background-color: transparent;
}
  
.footer-emailgomb {
      min-height: 10px;
      padding: .5em 1em;
      border: none;
      border-radius: 0 6px 6px 0;
      background-color: var(--s);
      color: #fff;
      font-size: 15px;
      cursor: pointer;
      transition: background-color .3s ease-in-out;
}
    
.footer-emailgomb:hover {
      background-color: var(--d);
}
    
.input:focus, .input:focus-visible {
      border-color: #3898EC;
      outline: none;
}
/*ikonok*/
#footer-icons{
      padding: 0 0 0 5rem;
}
  
.social-icons{
      display: flex;
      align-items:start;
      justify-content: start;
      padding: 0;
}
  
.social-icons li{
      padding: 1.5rem 1rem 0 1rem;
      list-style-type: none;
}
  
.social-icons li:first-child{
      padding-right: 1rem;
}
  
.social-icons a{
      color: white;
}
  
.social-icons svg:hover{
      color: var(--s);
}
/*ikonok*/
/*footer*/
  
/*media - xs(0-576) sm(576-768) md(768-992) lg(992-1200) xl(1200-1500)*/
@media only screen and (max-width: 2000px) {
    .index_box{
        max-width: 55rem;
    }
    .index_box h1{
        font-size: 2.3rem;
    }
    .index_box p{
        font-size: 1.3rem;
    }
    .index_box button {
        width: 18rem;
        height: 4em;
    }
    .index_alcim{
        padding: 2rem 0;
        text-align: center;
    }
    .index_sokcim{
        font-size: 1.9rem;
    }  
    .index_szoveg{
        font-size: 1rem;
    }
      #footer-icons{
          padding: 0 0 0 7rem;
      }
}
@media only screen and (max-width: 1500px) {
    .index_box{
        max-width: 50rem;
    }
    .index_box h1{
        font-size: 2.3rem;
    }
    .index_box p{
        font-size: 1.1rem;
    }
    .index_box p:nth-child(2){
        width: 37rem;
    }
    .index_box button {
        width: 18rem;
        height: 4em;
    }
    .index_alcim{
        padding: 2rem 0;
    }
    .index_sokcim{
        font-size: 1.9rem;
    }  
    .index_szoveg{
        font-size: 1rem;
    }
      #footer-icons{
          padding: 0 0 0 7rem;
      }
}
@media only screen and (max-width: 1300px) {
    .index_box h1{
        font-size: 2.2rem;
    }
    .index_box p{
        font-size: 1.1rem;
    }
    .index_box p:nth-child(2){
        width: 37rem;
    }
    .index_box button {
        width: 16rem;
        height: 4em;
    }
}
@media only screen and (max-width: 1200px) {
    .index_box h1{
        font-size: 2.2rem;
    }
    .index_box p{
        font-size: 1.1rem;
    }
    .index_box p:nth-child(2){
        width: 34rem;
    }
    .index_box button {
        width: 16rem;
        height: 4em;
    }
    .index_alcim{
        padding: 2rem 0;
    }
    .index_sokcim{
        font-size: 1.9rem;
    }  
    .index_szoveg{
        font-size: 1rem;
    }
      #footer-icons{
          padding: 0 0 0 6rem;
      }
}
@media only screen and (max-width: 1100px) {
    .index_box{
        max-width: 46rem;
    }
    .index_box h1{
        font-size: 2rem;
    }
    .index_box p{
        font-size: 1rem;
    }
    .index_box p:nth-child(2){
        width: 34rem;
    }
    .index_box button {
        width: 16rem;
        height: 4em;
    }
}
@media only screen and (max-width: 992px) {
    .index_box{
        max-width: 44rem;
    }
    .index_box h1{
        font-size: 1.9rem;
    }
    .index_box p{
        font-size: 1rem;
    }
    .index_box p:nth-child(2){
        width: 29rem;
    }
    .index_box button {
        width: 16rem;
        height: 3.5em;
    }
    .index_sokcim{
        font-size: 1.5rem;
    }  
    .index_szoveg{
        font-size: 0.9rem;
    }
      #footer-content{
          padding: 0 6rem;
      }
      #footer-oszlop3{
          padding: 0 0 0 1rem;
      }
      #footer-icons{
          padding: 0 0 0 5rem;
      }
}
@media only screen and (max-width: 850px) {
    .index_box{
        max-width: 42rem;
    }
    .index_box h1{
        font-size: 1.8rem;
    }
    .index_box p{
        font-size: 0.9rem;
    }
    .index_box p:nth-child(2){
        width: 29rem;
    }
    .index_box button {
        width: 15rem;
        height: 3.5em;
    }
    .index_focim{
        font-size: 1.9rem;
    }
    .index_foszoveg{
        font-size: 1rem;
    }
    .index_alcim{
        padding: 2rem 0;
        font-size: 1.9rem;
    }
    .index_sokcim{
        font-size: 1.4rem;
    } 
    .index_szoveg{
        font-size: 0.8rem;
    } 
      #footer-content{
          padding: 0 3rem;
      }
      #footer-icons{
          padding: 0 0 0 2.5rem;
      }
}
@media only screen and (max-width: 800px) {
    .index_box{
        max-width: 39rem;
    }
    .index_box h1{
        font-size: 1.6rem;
    }
    .index_box p{
        font-size: 0.9rem;
    }
    .index_box p:nth-child(2){
        width: 27rem;
    }
    .index_box button {
        width: 15rem;
        height: 3.5em;
    }
    .index_focim{
        font-size: 1.8rem;
    }
    .index_foszoveg{
        font-size: 1rem;
    }
      #footer-content{
          padding: 0 2rem;
      }
}
@media only screen and (max-width: 768px) {
    .index_box{
        max-width: 35rem;
    }
    .index_box h1{
        font-size: 1.5rem;
    }
    .index_box p{
        font-size: 0.9rem;
    }
    .index_box p:nth-child(2){
        width: 26rem;
    }
    .index_box button {
        width: 13rem;
        height: 3.3em;
    }
    .index_focim{
        font-size: 1.6rem;
    }
    .index_foszoveg{
        font-size: 1rem;
    }
    .index_alcim{
        padding: 1rem 0rem;
        font-size: 1.9rem;
    }
      #footer-oszlop1{
          padding: 0.5rem 0;
      }
      #footer-oszlop2{
          padding: 0.5rem 0;
      }
      #footer-oszlop3{
          padding: 0.5rem 0 0.5rem 0rem;
      }
      #footer-icons{
          padding: 0 0 0 0.5rem;
      }

      #faq {
          width: 35rem;
          margin: 0;
      }

      #faq h5{
        font-size:1.1rem;
      }
}
@media only screen and (max-width: 700px) {
    .index_box h1{
        font-size: 1.5rem;
    }
    .index_box p{
        font-size: 0.9rem;
    }
    .index_box p:nth-child(2){
        width: 26rem;
    }
    .index_box button {
        width: 13rem;
        height: 3.3em;
    }
    .index_alcim{
        font-size: 1.7rem;
    }
}  
@media only screen and (max-width: 650px) {
    .index_alcim{
        font-size: 1.6rem;
    }
    .index_sokcim{
        font-size: 1.3rem;
    } 
    .index_szoveg{
        font-size: 0.8rem;
    } 
}  
@media only screen and (max-width: 600px) {
    .index_box{
        max-width: 30rem;
    }
    .index_box h1{
        font-size: 1.3rem;
    }
    .index_box p{
        font-size: 0.9rem;
    }
    .index_box p:nth-child(2){
        width: 22rem;
    }
    .index_box p:nth-child(1){
        font-size: 0.8rem;
    }
    .index_box button {
        width: 11rem;
        height: 3.3em;
    }
    .index_focim{
        font-size: 1.5rem;
    }
    .index_foszoveg{
        font-size: 0.9rem;
    }
    .index_alcim{
        font-size: 1.5rem;
    }
}     
@media only screen and (max-width: 550px) {
    .index_box h1{
        font-size: 1.3rem;
    }
    .index_box p{
        font-size: 0.9rem;
    }
    .index_box p:nth-child(2){
        width: 22rem;
    }
    .index_box button {
        width: 11rem;
        height: 3.3em;
    }
    #faq {
        width: 30rem;
        margin: 0;
    }
    #faq h5{
      font-size:1.1rem;
    }
}
@media only screen and (max-width: 480px) {
    .index_box{
        left:5%;
    }
    .index_box h1{
        font-size: 1.25rem;
    }
    .index_box p{
        font-size: 0.8rem;
    }
    .index_box p:nth-child(2){
        width: 22rem;
    }
    .index_box button {
        width: 11rem;
        height: 3.3em;
    }
    .index_alcim{
        font-size: 1.5rem;
    }
    .index_sokcim{
        font-size: 1.3rem;
    } 
    .index_szoveg{
        font-size: 0.8rem;
    } 
    #faq {
        width: 27rem;
        margin: 0;
    }
    #faq h1{
        font-size:1.5rem;
    }
    #faq h5{
      font-size:1rem;
    }
}
@media only screen and (max-width: 450px) {
    .index_box h1{
        font-size: 1.2rem;
    }
    .index_box p{
        font-size: 0.8rem;
    }
    .index_box p:nth-child(2){
        width: 22rem;
    }
    .index_box button {
        width: 11rem;
        height: 3.3em;
    }
}
@media only screen and (max-width: 430px) {
    .index_box h1{
        font-size: 1.2rem;
    }
    .index_box p{
        font-size: 0.8rem;
    }
    .index_box p:nth-child(2){
        width: 22rem;
    }
    .index_box button {
        width: 11rem;
        height: 3.3em;
    }
    #faq {
        width: 24rem;
        margin: 0;
    }
    #faq h1{
        font-size:1.5rem;
    }
    #faq h5{
      font-size:0.9rem;
    }
}
@media only screen and (max-width: 392px) {
    .index_box h1{
        font-size: 1.15rem;
    }
    .index_box p{
        font-size: 0.75rem;
    }
    .index_box p:nth-child(2){
        width: 19rem;
    }
    .index_box button {
        width: 10rem;
        height: 3rem;
    }
}
@media only screen and (max-width: 382px) {
    #faq {
        width: 22rem;
        margin: 0;
    }
    #faq h1{
        font-size:1.3rem;
    }
    #faq h5{
      font-size:0.8rem;
    }
}
@media only screen and (max-width: 350px) {
}
#box1{
    display: flex;
    justify-content: center;
}

#keret{
    background-color: transparent;
    width: 30rem;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
}


#keret  a{
    color:var(--text-color);
}
#keret a:active{
    color:var(--text-color);
}
#keret a:link{
    color:var(--text-color);
}
#keret a:visited{
    color: var(--text-color);
}
#keret a:hover{
    color: var(--text-color);
}

.ujrakuldgomb {
    background-color: #eee;
    border: none;
    font-size: 1rem;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    color: #4d648d;
    cursor: pointer;
    margin: 1rem 0;
}

/*előre gomb regsztrációs oldalon*/
.nextgomb{
    background-color: #eee;
    border: none;
    font-size: 1rem;
    width: 13.5rem;
    height: 2.5rem;
    border-radius: 10px;
    color: var(--h);
    cursor: pointer;
    margin: 1rem 0;
}
   
.nextgomb:hover:not(:disabled) {
    background: var(--h);
    color: white;
}
   
.nextgomb:disabled {
    cursor: auto;
    color: grey;
}


.backgomb{
    background-color: #eee;
    border: none;
    font-size: 1rem;
    width: 13.5rem;
    height: 2.5rem;
    border-radius: 10px;
    color: var(--h);
    cursor: pointer;
    margin: 1rem 0;
}
 /*előre gomb regsztrációs oldalon*/
 /*hátra gomb regsztrációs oldalon*/  

   
.backgomb:hover:not(:disabled) {
    background: var(--h);
    color: white;
}
   
.backgomb:disabled {
    cursor: auto;
    color: grey;
}
/*hátra gomb regsztrációs oldalon*/  
/*jelszót megjelenítő gomb*/
.workout-card {
    background-color: var(--h);
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 100%;
    padding-right: 35px; 
}

.container-szem {
    --color: var(--c);
    --size: 25px;
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
    right: 10px;
    top: 80%;
    transform: translateY(-50%);
}
  
.container-szem .szem1 {
    position: absolute;
    animation: keyframes-fill .5s;
}
  
.container-szem .szem2 {
    position: absolute;
    animation: keyframes-fill .5s;
    display: none;
}

.container-szem1 input:checked ~ .szem1 {
    display: none;
}
  
.container-szem input:checked ~ .szem2 {
    display: block;
}
  
.container-szem input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
@keyframes keyframes-fill {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    50% {
      transform: scale(1.2);
    }
}

.st_kep{
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.fokuszaltizomcsoport {
    width: 100%;
    height: 210px;
    border-radius: 8px;
    
}
.fokuszaltizomcsoport img{
    width:100%;
    height: 100%;
    border-radius: 8px;
}
.serulttest {
    width: 100%;
    height: 210px;
    border-radius: 8px;
}

#bodyfat-image{
    width: 27.5rem;
}

#bodyfat-image2{
    width: 27.5rem;
}

/*FAQ*/
#faq h1{
    margin: 2rem;
}

.faq_informaciok{
    margin-left: 20px
}

#faq summary {
    display: flex; 
    justify-content: space-between; 
}

#faq summary::after {
    content: url(../img/icons8-plus-24\ \(1\).png);  
    padding: 0 1rem 0 0;
    position: relative;
}

#faq details[open] summary::after {
    content: url(../img/icons8-minus-24\ \(1\).png); 
}
/*FAQ*/

.w-plan-bg {
    background-color: var(--f);
}

#privacy-popup {
    background-color: var(--h);
    color: white;
    padding: 20px; 
    position: fixed;
    bottom: 10px;
    width: 99%;
    margin: 5px;
    min-width: 300px;
    border-radius: 8px; 
    text-align: center;
    z-index: 3;
}

.privacy-link {
    color: var(--b);
}

.workout-table {
    width: 80%;
    margin-bottom: 20px;
}

.workout-table thead {
    background-color: var(--f);
    color: white;
}

.workout-table th {
    padding: 10px;
    text-align: left;
    font-size: 16px;
    border: 1px solid var(--b);
}


.workout-table tbody {
    background-color: var(--h);
}

.workout-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid var(--b);
    font-size: 14px;
}

.workout-table tbody tr:hover {
    background-color: var(--f);
}

.kisebb {
    width: 10%;
}

#loader {
    display: none;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-toggler {
    border-color: transparent;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 transparent;
}

#modalOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

        
#deleteModal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--h);
    padding: 30px;
    width: 400px;
    height: 250px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
}


.checkbox-wrapper-44 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-44 *,
  .checkbox-wrapper-44 *::before,
  .checkbox-wrapper-44 *::after {
    box-sizing: border-box;
  }

  .checkbox-wrapper-44 .toggleButton {
    cursor: pointer;
    display: block;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    transition: transform 0.14s ease;
  }
  .checkbox-wrapper-44 .toggleButton:active {
    transform: rotateX(30deg);
  }
  .checkbox-wrapper-44 .toggleButton input + div {
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: relative;
    width: 44px;
    height: 44px;
  }
  .checkbox-wrapper-44 .toggleButton input + div svg {
    fill: none;
    stroke-width: 3.6;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    left: -3px;
    top: -3px;
    right: -3px;
    bottom: -3px;
    z-index: 1;
    stroke-dashoffset: 124.6;
    stroke-dasharray: 0 162.6 133 29.6;
    transition: all 0.4s ease 0s;
  }
  .checkbox-wrapper-44 .toggleButton input + div:before,
  .checkbox-wrapper-44 .toggleButton input + div:after {
    content: "";
    width: 3px;
    height: 16px;
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 5px;
  }
  .checkbox-wrapper-44 .toggleButton input + div:before {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    -webkit-animation: bounceInBefore-44 0.3s linear forwards 0.3s;
            animation: bounceInBefore-44 0.3s linear forwards 0.3s;
  }
  .checkbox-wrapper-44 .toggleButton input + div:after {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    -webkit-animation: bounceInAfter-44 0.3s linear forwards 0.3s;
            animation: bounceInAfter-44 0.3s linear forwards 0.3s;
  }
  .checkbox-wrapper-44 .toggleButton input:checked + div svg {
    stroke-dashoffset: 162.6;
    stroke-dasharray: 0 162.6 28 134.6;
    transition: all 0.4s ease 0.2s;
  }
  .checkbox-wrapper-44 .toggleButton input:checked + div:before {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    -webkit-animation: bounceInBeforeDont-44 0.3s linear forwards 0s;
            animation: bounceInBeforeDont-44 0.3s linear forwards 0s;
  }
  .checkbox-wrapper-44 .toggleButton input:checked + div:after {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    -webkit-animation: bounceInAfterDont-44 0.3s linear forwards 0s;
            animation: bounceInAfterDont-44 0.3s linear forwards 0s;
  }

  @-webkit-keyframes bounceInBefore-44 {
    0% {
      opacity: 0;
      transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    }
    50% {
      opacity: 0.9;
      transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
    }
    80% {
      opacity: 1;
      transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
    }
    100% {
      opacity: 1;
      transform: scale(1) translate(-50%, -50%) rotate(45deg);
    }
  }

  @keyframes bounceInBefore-44 {
    0% {
      opacity: 0;
      transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    }
    50% {
      opacity: 0.9;
      transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
    }
    80% {
      opacity: 1;
      transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
    }
    100% {
      opacity: 1;
      transform: scale(1) translate(-50%, -50%) rotate(45deg);
    }
  }
  @-webkit-keyframes bounceInAfter-44 {
    0% {
      opacity: 0;
      transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    }
    50% {
      opacity: 0.9;
      transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
    }
    80% {
      opacity: 1;
      transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
    }
    100% {
      opacity: 1;
      transform: scale(1) translate(-50%, -50%) rotate(-45deg);
    }
  }
  @keyframes bounceInAfter-44 {
    0% {
      opacity: 0;
      transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    }
    50% {
      opacity: 0.9;
      transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
    }
    80% {
      opacity: 1;
      transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
    }
    100% {
      opacity: 1;
      transform: scale(1) translate(-50%, -50%) rotate(-45deg);
    }
  }
  @-webkit-keyframes bounceInBeforeDont-44 {
    0% {
      opacity: 1;
      transform: scale(1) translate(-50%, -50%) rotate(45deg);
    }
    100% {
      opacity: 0;
      transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    }
  }
  @keyframes bounceInBeforeDont-44 {
    0% {
      opacity: 1;
      transform: scale(1) translate(-50%, -50%) rotate(45deg);
    }
    100% {
      opacity: 0;
      transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    }
  }
  @-webkit-keyframes bounceInAfterDont-44 {
    0% {
      opacity: 1;
      transform: scale(1) translate(-50%, -50%) rotate(-45deg);
    }
    100% {
      opacity: 0;
      transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    }
  }
  @keyframes bounceInAfterDont-44 {
    0% {
      opacity: 1;
      transform: scale(1) translate(-50%, -50%) rotate(-45deg);
    }
    100% {
      opacity: 0;
      transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    }
}

/*bodymap*/
#bodymap {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
#bodymap .container {
    display: flex;
    gap: 20px;
} 
.view {
    position: relative;
    width: 600px;
    height: 1280px;
}
#bodymap img {
    display: block;
    top: 0;
    left: 0;
    position: absolute;
}
#bodymap canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 1280px;
    pointer-events: none;
    z-index: 2;
    display: block;
}
map area {
    cursor: pointer;
}